.cards {
  width: 90%;
  max-width: 1570px;
  margin: 0 auto;
}

.currentCards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 200px));
  grid-auto-rows: minmax(20px, auto);
  justify-content: center;
  transition: .4s linear;
}

.currentCardsFade {
  composes: currentCards;
  transition: .1s linear;
  opacity: 0;
}

.button {
  display: block;
  font-size: 14px;
  line-height: 19px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-weight: 400;
  padding: 14px 46px 15px;
  margin: 80px auto 0;
  cursor: pointer;
  box-shadow: 0px 3px 9px #39140014;
  user-select: none;
  color: #391400;
}