.imageFullBackground {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageFull {
  width: 100vw;
  object-fit: contain;
  object-position: center;
  max-width: 100vw;
  max-height: 100vh;
}